:root {
    --primary-color: #ffff;
    --secondary-color: #d3b4f7;
    --white-color: #fff;
    --text-color: #626973;
    --header-height: 84px;
    --app-default-width: 1455px;
    --app-tablet-width: 942px;
    --app-mobile-width: 577px;
    --secondary-text-color: #c089ff;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    padding: 0 80px;
    font-family: 'Noto+Serif', sans-serif;
}

.btn {
    width: 180px;
    height: 47px;
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    vertical-align: middle;
    line-height: 47px;
    font-size: 1.6rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-color);
}