.app-header {
    display: flex;
    height: 80px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.app-header img {
    width: 70px;
}

.app-header .element {
    display: flex;
}

.app-header .avatar {
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBgFHbUAevtnWRU3E94k9tZnEKIJXXDC6AOQ&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    user-select: none;
}

.app-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(10,1fr); */
    gap: 10px 20px;
    margin-top: 20px;
    list-style: none;
}

.app-body .item {
    height: 300px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    text-decoration: none;
}

.app-body .item:hover {
    scale: 1.01;
}

.app-body .image {
    background-image: url(https://d.player.one/en/full/214644/take-my-money.jpg?w=1600&h=1600&q=88&f=91dbef1ed5e93c97d01a3eb0e9ae3cda);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    flex: 65;
}

.app-body .content {
    flex: 35;
    display: flex;
    flex-direction: column;
}

.app-body .product-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    line-height: 1.6rem;
    height: 3.2rem;
    margin: 5px 0;
    color: black;
    user-select: none;
}

.app-body .price {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    user-select: none;
}


.app-body .old-price {
    text-decoration: line-through;
    color: black;
    font-size: 1.4rem;
}

.app-body .new-price {
    font-size: 1.8rem;
    color: #dcb3f7;
}

.app-body .review {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    padding: 5px 0;
    user-select: none;
}

.app-body .sold {
    font-size: 1.4rem;
    user-select: none;
}

.app-body .location {
    font-size: 1.4rem;
    padding: 5px 0;
    color: black;
    user-select: none;
}

.product {
    display: flex;
    margin-top: 50px;
}



.main-product-image {
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--secondary-color);
}

.product-detail {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 40px;
}

.product-name {
    font-size: 2rem;
}

.product-rate {
    margin: 20px 0 30px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.product-rate .review {
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
}

.product-rate .sold{
    font-size: 1.6rem;
    line-height: 1.6rem;
}


.product-rate .rate {
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}


.product-price {
    display: flex;
    gap: 50px;
    align-items: center;
}

.old-price {
    text-decoration: line-through;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.5);
}

.new-price {
    font-size: 2.5rem;
}

.product-shipping {
    display: flex;
    flex-direction: column;
}

.product-shipping-address {
    margin-top: 30px;
    font-size: 1.4rem;
}

.product-shipping-address span {
    position: absolute;
    margin-left: 5px;
}

.product-shipping-fee {
    margin-top: 10px;
    font-size: 1.4rem;
    margin-left: 25px;
}

.product-quantity {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    align-items: center;
}

.product-quantity span {
    font-size: 1.4rem;
}

.product-quantity__add-product {
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.product-quantity__add-product div {
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.product-quantity__add-product .amount {
    height: 30px;
    width: 70px;
    outline: none;
    border-left: 0.5px solid rgba(0, 0, 0, 0.3);
    border-right: 0.5px solid rgba(0, 0, 0, 0.3);
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    float: right;
}

.product-quantity__add-product .amount::-webkit-outer-spin-button,
.product-quantity__add-product .amount::-webkit-inner-spin-button {
    display: none;
}

.product-buying {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}